* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    color: #121723;
}

:root{
    --el : 0
}

html{
    scroll-behavior: smooth;

}

body{
    background-image: url("/web_designer-main/image/Фон_зелень.png");
    background-size: contain;
}

header{
    width: 100%;
    position: sticky;
    z-index: 2;
    top: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 0px;
    background-color: none;
    display: flex;
    justify-content: center;
    background-color: rgb(211, 240, 86, 0.5);
    border-radius: 0 0 20px 20px;
}

.header_logo{
    margin-right: 120px;
}

.header_logo-one{
    font-family: 'IfKica';
    background-color: #4039EB;
    font-size: 12px;
    color: #FFF;
    cursor: pointer;
    width: 255px;
    height: 20px;
    text-align: center;
    align-content: center;
    border-radius: 100px;
}

.header_logo-two{
    font-family: 'IfKica';
    background-color: #F8F3F0;
    font-size: 12px;
    color: #123123;
    cursor: pointer;
    width: 85px;
    height: 20px;
    text-align: center;
    align-content: center;
    border-radius: 100px;
    transform: rotate(-4deg);
    margin-left: 140px;
}

.header__nav-list-link{
    cursor: pointer;
    outline: none;
    font-size: 12px;
    text-decoration: none;
    transition: color .15s linear;
}

.header__nav-list-link:hover{
    color: #4039EB;
}

.header__nav-list-link:active{
    color: #F8F3F0;
    background-color: #4039EB ;
    border-radius: 1000px;
    padding: 5px 5px;
    width: 100% + 20%;
}

.header__nav-list-link-account{
    margin-right: 30px;
    font-size: 24px;   
    right: 0;
}

.header__nav-list {
    display: flex;
    list-style: none;
    margin-right: 50px;
    gap: 30px;
}

.header_block{
    display: flex;
    align-items: center;
}

.header_button{
    width: 70px;
    height: 30px;
    cursor: pointer;
    font-family: 'Montserrat';
    background-color: #4039EB;
    color: #FFF;
    font-size: 12px;
    border-radius: 1000px;
    border: none;
    transition: background .15s linear;
}

.coursies{
    background-image: url("/web_designer-main/image/Фон_серень.png");
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px;
    cursor: default;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.coursies{
    background-image: url("/web_designer-main/image/Фон_серень.png");
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px;
    cursor: default;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.coursies_title-and-podtitle{
    display: flex;
    margin-bottom: 50px;
}

.coursies_title{
    margin-right: 15px;
}

.coursies_title-one{
    width: 330px;
    height: 60px;
    font-family: 'IfKica';
    background-color: #4039EB;
    color: #D3F056;
    font-size: 36px;
    border-radius: 1000px;
    border: none;
    align-content: center;
    text-align: center;
}

.coursies_title-two{
    width: 240px;
    height: 60px;
    font-family: 'IfKica';
    background-color: #D3F056;
    color: #4039EB;
    font-size: 36px;
    border-radius: 1000px;
    border: none;
    align-content: center;
    text-align: center;
    margin-left: 120px;
    transform: rotate(-3deg);
}

.coursies_podtitle-text{
    font-family: 'IfKica';
    color: #F8F3F0;
    font-size: 24px;
    margin-bottom: 5px;
}

.coursies_podtitle-podtext{
    width: 290px;
    height: 20px;
    font-family: 'Montserrat';
    background-color: #D3F056;
    color: #123123;
    font-size: 12px;
    border-radius: 1000px;
    border: none;
    align-content: center;
    text-align: center;
}

.coursies_card-one{
    background-color: #F8F3F0;
    width: 400px;
    border-radius: 40px;
    padding-left: 20px;
    padding-top: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
}

.coursies_card-one-title{
    font-family: 'IfKica';
    font-size: 24px;
    margin-bottom: 5px;
}

.coursies_card-one-podtitle{
    font-family: 'Montserrat';
    color: #123123;
    font-size: 12px;
    margin-bottom: 40px;
}

.coursies_button-blue{
    width: 112px;
    height: 35px;
    cursor: pointer;
    font-family: 'Montserrat';
    background-color: #4039EB;
    color: #F8F3F0;
    font-size: 12px;
    border-radius: 1000px;
    border: none;
    align-items: center;
    padding-left: 15px;
    text-align: center;
    margin-bottom: 10px;
    display: inline-flex;
    transition: background .15s linear;
}

.coursies_arrow-svg{
    width: 25px;
    margin-left: 10px;
    align-content: center;
}

.coursies_age-blue{
    position: absolute;
    width: 150px;
    height: 45px;
    cursor: pointer;
    font-family: 'IfKica';
    background-color: #4039EB;
    color: #F8F3F0;
    font-size: 24px;
    border-radius: 1000px;
    align-items: center;
    align-content: center;
    text-align: center;
    transform: rotate(3deg);
    margin-top: -270px;
    margin-left: 240px;
}

.coursies_photo{
    position: absolute;
    width: 100px;
    margin-top: -60px;
    margin-left: 120px;
}

.coursies_cards-inline{
    display: flex;
    margin-left: 60px;
}

.coursies_card-two{
    background-image: url("/web_designer-main/image/Фон_зелень.png");
    background-size: cover;
    width: 400px;
    height: 220px;
    border-radius: 40px;
    padding-left: 20px;
    padding-top: 30px;
    margin-right: 50px;
    margin-bottom: 30px;
}

.coursies_age-gray{
    position: absolute;
    width: 150px;
    height: 45px;
    cursor: pointer;
    font-family: 'IfKica';
    background-color: #2E302B;
    color: #F8F3F0;
    font-size: 24px;
    border: 1px solid #D3F056;
    border-radius: 1000px;
    align-items: center;
    align-content: center;
    text-align: center;
    transform: rotate(3deg);
    margin-top: -270px;
    margin-left: 240px;
}

.coursies_button-gray{
    width: 112px;
    height: 35px;
    cursor: pointer;
    font-family: 'Montserrat';
    background-color: #2E302B;
    color: #F8F3F0;
    font-size: 12px;
    border-radius: 1000px;
    border: none;
    align-items: center;
    padding-left: 15px;
    text-align: center;
    margin-bottom: 10px;
    display: inline-flex;
    transition: background .15s linear;
}

.coursies_card-two-title{
    font-family: 'IfKica';
    font-size: 24px;
    margin-bottom: 5px;
}

.coursies_card-two-podtitle{
    font-family: 'Montserrat';
    color: #123123;
    font-size: 12px;
    margin-bottom: 68px;
}

.coursies_card-three{
    background-image: url("/web_designer-main/image/Фон_синень.png");
    background-size: cover;
    width: 350px;
    border-radius: 40px;
    padding-left: 20px;
    padding-top: 30px;
    margin-right: 30px;
}

.coursies_age-gray-dark{
    position: absolute;
    width: 150px;
    height: 45px;
    cursor: pointer;
    font-family: 'IfKica';
    background-color: #F8F3F0;
    color: #2E302B;
    font-size: 24px;
    border-radius: 1000px;
    align-items: center;
    align-content: center;
    text-align: center;
    transform: rotate(3deg);
    margin-top: -230px;
    margin-left: 180px;
}

.coursies_button-gray-dark{
    width: 112px;
    height: 35px;
    cursor: pointer;
    font-family: 'Montserrat';
    background-color: #F8F3F0;
    color: #2E302B;
    font-size: 12px;
    border-radius: 1000px;
    border: none;
    align-items: center;
    padding-left: 15px;
    text-align: center;
    margin-bottom: 10px;
    display: inline-flex;
    transition: background .15s linear;
}

.coursies_card-three-title{
    font-family: 'IfKica';
    font-size: 24px;
    color: #F8F3F0;
    margin-bottom: 5px;
}

.coursies_card-three-podtitle{
    font-family: 'Montserrat';
    color: #F8F3F0;
    font-size: 12px;
    margin-bottom: 68px;
}

.coursies_card-four{
    background-color: #2E302B;
    border: 1px solid #D3F056;
    width: 450px;
    border-radius: 40px;
    padding-left: 20px;
    padding-top: 30px;
    margin-right: 30px;
}

.coursies_age-four{
    position: absolute;
    width: 130px;
    height: 45px;
    cursor: pointer;
    font-family: 'IfKica';
    background-color: #D3F056;
    color: #2E302B;
    font-size: 24px;
    border-radius: 1000px;
    align-items: center;
    align-content: center;
    text-align: center;
    transform: rotate(3deg);
    margin-top: -240px;
    margin-left: 280px;
}

.coursies_button-four{
    width: 112px;
    height: 35px;
    cursor: pointer;
    font-family: 'Montserrat';
    background-color: #D3F056;
    color: #2E302B;
    font-size: 12px;
    border-radius: 1000px;
    border: none;
    align-items: center;
    padding-left: 15px;
    text-align: center;
    margin-bottom: 10px;
    display: inline-flex;
    transition: background .15s linear;
}

.coursies_card-four-title{
    font-family: 'IfKica';
    font-size: 24px;
    color: #F8F3F0;
    margin-bottom: 5px;
}

.coursies_card-four-podtitle{
    font-family: 'Montserrat';
    color: #F8F3F0;
    font-size: 12px;
    margin-bottom: 68px;
}

footer{
    padding-top: 40px;
    padding-left: 50px;
    padding-bottom: 40px;
    background-color: rgb(46, 48, 43);
}

.footer_text{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.footer__nav-list-link{
    cursor: pointer;
    outline: none;
    color: #F8F3F0;
    font-size: 12px;
    text-decoration: none;
    transition: color .15s linear;
}

.footer__nav-list-link:hover{
    color: #D3F056;
}

.footer__nav-list-link:active{
    color: #2E302B;
    background-color: #D3F056 ;
    border-radius: 40px;
    padding: 5px 5px;
    width: 100% + 20%;
}

.footer__nav-list-link-account{
    margin-right: 30px;
    font-size: 24px;   
    right: 0;
}

.footer__nav-list {
    display: flex;
    list-style: none;
    margin-right: 50px;
    gap: 30px;
    text-align: center;
}

.footer_confid-text{
    cursor: pointer;
    color: #F8F3F0;
    outline: none;
    font-size: 12px;
    text-decoration: none;
    transition: color .15s linear;
}

.footer_year{
    cursor: pointer;
    color: #F8F3F0;
    outline: none;
    font-family: 'IfKica';
    font-size: 12px;
    text-decoration: none;
    transition: color .15s linear;
}

.footer_year:hover{
    color: #D3F056;
}

.footer_year:active{
    color: #2E302B;
    background-color: #D3F056 ;
    border-radius: 40px;
    padding: 5px 5px;
    width: 100% + 20%;
}